<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body {
            padding-top: 50px;
            }
            .starter-template {
            padding: 40px 15px;
            text-align: center;
            }
        </style>
    </head>
    <body>
        {{ yield }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>  
</html>
